body {
  background-color: #6D4C41;
}

h1 {
  font-family: 'Courgette', cursive;
}

p {
  font-family: 'Raleway', sans-serif;
}

.LinkArea {
	background-color: #9E9E9E;	
  font-size: 20px;
  font-family: 'Inconsolata', sans-serif;
  border: 0;
  height: 30px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.App {
  margin: -10px;
  text-align: center;
}

.AppHeader {
  background-color: #222;
  height: 100%;
  padding: 20px;
  color: white;
}

.StaticLogo {
  position: relative;
  background-image: url('../../images/coffee.png');
  background-position: center;
  background-size: 600px;
  background-repeat: no-repeat;
  height: 600px;
}

.MovingLogo {
	animation: AppLogoSpin infinite 10s linear;
  position: relative;
  background-image: url('../../images/coffee.png');
  background-position: center;
  background-size: 600px;
  background-repeat: no-repeat;
  height: 600px;
}

@keyframes AppLogoSpin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
