body {
  background-color: #6D4C41;
}

h1 {
  font-family: 'Courgette', cursive;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

.log {
  position: relative;
}

.LinkArea {
  background-color: #ECF0F1;
  font-size: 20px;
  font-family: 'Inconsolata', sans-serif;
  border: 0;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  box-shadow: 0px 1px 5px #888888;
}

.App {
  margin: -10px;
  text-align: center;
}

.AppHeader {
  background-color: #222;
  height: 100%;
  padding: 20px;
  color: white;
  box-shadow: 0px 1px 5px #888888;
}

.StaticLogo {
  position: relative;
  height: 65vh;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.MovingLogo {
  animation: AppLogoSpin infinite 10s linear;
}

@keyframes AppLogoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
